@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@400;700;900&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  background-image: linear-gradient(to top right,rgb(42, 42, 42), black);
}

html {
  scroll-behavior: smooth;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  margin-top: 0px;
  color: rgb(255, 255, 255);
  font-size: 72px;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .12em;
  font-weight: 500;
  line-height: 1.25;
}

/* 

Navbar 

*/

nav {
  height: 105px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #000;
  background-image: linear-gradient(to bottom right,rgb(66, 66, 66), black);
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 100px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  text-transform: uppercase;
  color: #f9f9f9;
  letter-spacing: 0.7px;
}

.landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}


.landing__img {
  width: 500px;
  height: 600px;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -0.1px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: #fff;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

/* 

Home Page

*/

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 140px;
}

.glow-on-hover {
  font-size: 20px;
  padding: 20px 50px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: #fff;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.movies__container {
  margin-bottom: 170px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.movie__img--wrapper {
  border-radius: 4px;
  overflow: hidden;
}

.movie__img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  transition: all 300ms ease;
  object-fit: contain;
}

.movie__title {
  font-size: 22px;
  padding-top: 10px;
}

.movie__year {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 10px;
}

.movie {
  width: calc(100% / 3);
}

.movie-card {
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), rgba(193, 190, 190, 0.826));
  /* box-shadow: 1px 1px 20px 2px rgb(245 245 245 / 60%); */
  /* box-shadow: 1px 1px 20px 2px rgb(245 245 245 / 60%); */
  height: 100%;
  max-height: 551px;
  width: 100%;
  max-width: 370px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-bottom: 50px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.movie-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  scale: 1.1;
}

.movie-card__container {
  padding: 20px 25px;
}

.imdb {
  background-color: yellow;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 12px;
  color: #242424;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  max-width: 200px;
  text-align: center;
  transition: all 300ms ease;
}

.movie-card--skeleton {
  display: flex;
}

.movie__img--skeleton {
  width: 300px;
  height: 310px;
  background-color: lightgray;
}

.movie__title--skeleton {
  width: 270px;
  height: 30px;
  background-color: lightgray;
}

.movie__year--skeleton {
  width: 200px;
  height: 30px;
  background-color: lightgray;
}

.imdb--skeleton {
  width: 130px;
  height: 30px;
  background-color: lightgray;
}

.search__input {
  font-size: 44px;
  letter-spacing: 1.11px;
  line-height: 1.2;
  left: 0px;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  outline: none;
  text-overflow: ellipsis;
  z-index: calc(9);
  border: none;
  background: rgb(75, 78, 90);
  color: rgb(168, 169, 173);
  height: 100px;
  padding-left: calc(3.5vw + 24px);
  width: 100%;
  max-width: 1363.5px;
  font-weight: 700;
}

input:focus {
  background-color: rgb(98, 102, 118);
  border-bottom: none;
  color: rgb(249, 249, 249);
  outline: none;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  z-index: calc(9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out 0s;
  height: 60px;
  right: 20px;
  top: auto;
}

.movies__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px 20px 150px;
}

.section__title {
  margin-bottom: 0;
  color: #f9f9f9;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

.PageNotFound__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pageNotFound__img {
  width: 250px;
  height: 250px;
}

.pageNotFound__title {
  margin-top: 0px;
  color: #f9f9f9;
  text-align: center;
  font-size: 60px;
}

/* 

MOVIE DETAILS 

*/

.movieInfo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.movieInfo {
  width: 50%;
}

.movieInfo__img--container {
  padding: 20px;
  box-shadow: 1px 1px 20px 2px rgb(245 245 245 / 60%);
  border-radius: 10px;
}

.movieInfo__img {
  width: 400px;
  height: 550px;
}

.movieInfo__title {
  font-size: 55px;
  color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  max-width: 660px;
}

.first__container {
  display: flex;
  flex-direction: column;
}

.movie__rating {
  font-size: 12px;
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
  padding: 3px;
  font-weight: 700;
}

.movie__type {
  font-size: 12px;
  border: 1px solid #4e4e4e;
  border-radius: 5px;
  background-color: #4e4e4e;
  color: #f9f9f9;
  padding: 4px 5px;
  margin-left: 8px;
}

.movieInfo__year {
  font-size: 12px;
  color: #f9f9f9;
  margin-left: 8px;
}

.movie__genre--container {
  margin: 8px 0px;
}

.movie__genre {
  font-size: 12px;
  color: #f9f9f9;
  font-weight: 100;
}

.movie__description {
  font-size: 20px;
  color: #f9f9f9;
  padding-top: 3px;
  letter-spacing: -.1px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  max-width: 660px;
}

.play__btn {
  height: 56px;
  background-color: #f9f9f9;
  border: none;
  padding: 0 24px;
  margin: 4px 12px 4px 0px;
  border-radius: .25rem;
  cursor: not-allowed;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play__btn--para {
  color: #0e0b14;
  font-size: 15px;
  margin: 0px 0px 0px 12px;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn__tralier {
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  background-color: rgba(0, 0, 0, .6);
  padding: 0 24px;
  margin: 4px 12px;
  border-radius: .25rem;
  height: 56px;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: not-allowed;
}

.back__btn {
  border: none;
  font-size: 17px;
  background: transparent;
  color: #f9f9f9;
  margin-bottom: 60px;
  cursor: pointer;
}

.movieInfo__skeleton--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.moveInfo__skeleton {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
}

.movieInfo__skeleton--title {
  width: 340px;
  height: 50px;
  background-color: lightgray;
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), rgba(116, 116, 116, 0.826));
}

.movieInfo__skeleton--btns {
  display: flex;
}

.movieInfo__skeleton--btnOne {
  width: 110px;
  height: 50px;
  background-color: lightgray;
  margin-right: 16px;
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), rgba(116, 116, 116, 0.826));
}

.movieInfo__skeleton--btnTwo {
  width: 110px;
  height: 50px;
  background-color: lightgray;
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), rgba(116, 116, 116, 0.826));
}

.movieInfo__skeleton--descriptionOne {
  margin-top: 30px;
  width: 500px;
  height: 20px;
  background-color: lightgray;
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), rgba(116, 116, 116, 0.826));
}

.movieInfo__skeleton--descriptionTwo {
  margin-top: 10px;
  width: 350px;
  height: 20px;
  background-color: lightgray;
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), rgba(116, 116, 116, 0.826));
}

.movieInfo__skeleton--descriptionThree {
  margin-top: 10px;
  width: 200px;
  height: 20px;
  background-color: lightgray;
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), rgba(116, 116, 116, 0.826));
}


.movieInfo__skeleton--img {
  width: 400px;
  height: 550px;
  background-color: lightgray;
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), rgba(116, 116, 116, 0.826));
}
/* 

FOOTER 

*/
footer {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #000;
  background-image: linear-gradient(to bottom right,rgb(66, 66, 66), black);
}

.footer__container {
  padding-bottom: 36px ;
  margin: 100px 0px 0px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 80px;
}

.footer__list {
  margin: 0px 0 24px 0;
}

.footer__link,
.footer__copyright {
  color: #CACACA;
  font-size: 12px;
}

.footer__link {
  padding: 0 8px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) { 
  .logo {
    width: 92px;
  }
  .hidelink {
    display: none;
  }
  .landing {
    flex-wrap: wrap-reverse;
  }
  .header__title {
    margin-top: 100px;
    margin-right: 0;
    align-items: center;
  }
  .title {
    font-size: 55px;
  }
  .landing__img {
    width: 400px;
    height: 500px;
  }
  .search__input {
    font-size: 30px;
    height: 70px;
    width: 716px;
  }
  .section__title {
    font-size: 18px;
    margin: 0;
  }
  .movies__header {
    padding: 0 30px;
  }
  .movie {
    width: 50%;
  }
  .movie-card {
    width: 300px;
    height: 340px;
  }
  .movie-card__container {
    padding: 7px 33px;
  }
  .movie__title {
    font-size: 20px;
    margin-top: 0px;
  }
  .movie__year {
    display: none;
  }
  .imdb {
    display: none;
  }
  .movie__img--skeleton {
    width: 150px;
    height: 180px;
  }
  .movie__title--skeleton {
    width: 160px;
    height: 20px;
  }
  .movieInfo__container {
    flex-wrap: wrap-reverse;
  }
  .movieInfo__img {
    width: 300px;
    height: 450px;
  }
  .movieInfo {
    width: 100%;
    margin: 0px 35px;
  }
  .movieInfo__title {
    font-size: 35px;
  }
  .movie__description {
    font-size: 18px;
  }
  .back__btn {
    display: none;
  }
  .movieInfo__skeleton--container {
    flex-wrap: wrap-reverse;
  }
  .movieInfo__skeleton--title {
    width: 300px;
    height: 30px;
  }
  .movieInfo__skeleton--btnOne, .movieInfo__skeleton--btnTwo {
    width: 90px;
    height: 40px;
  }
  .movieInfo__skeleton--descriptionOne {
    margin-top: 30px;
    width: 400px;
    height: 20px;
  }
  .PageNotFound__container {
    margin-top: 50px;
  }
  .pageNotFound__img {
    width: 150px;
    height: 150px;
  }
  .pageNotFound__title {
    font-size: 40px;
  }
}


/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  nav {
    height: 80px;
  }
  .logo, .footer__logo--img {
    width: 70px;
  }
  .nav__link {
    font-size: 16px;
  }
  .landing__img {
    width: 300px;
    height: 400px; 
  }
  .glow-on-hover {
    font-size: 17px;
    padding: 17px 31px;
  }
  .search__input {
    font-size: 24px;
    height: 60px;
    max-width: 506px;
  }
  select {
    height: 30px;
    max-width: 130px;
  }
  .movie-card {
    width: 220px;
    height: 285px;
  }
  .movie-card__container {
    padding: 13px 11px;
  }
  .movie__title {
    font-size: 18px;
    padding-left: 10px;
  }
  .movieInfo__img {
    width: 200px;
    height: 350px;
  }
  .movieInfo__title {
    font-size: 30px;
  }
  .movie__description {
    font-size: 15px;
  }
}

