@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

nav {
  height: 105px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  background-color: #000;
  background-image: linear-gradient(to bottom right,rgb(42, 42, 42), black);
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 100px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  text-transform: uppercase;
  color: #f9f9f9;
  letter-spacing: 0.7px;
}